/package-info.class
/AgentziaTest.class
/Agentzia_MotakTest.class
/BidaiaTest.class
/CacheTest.class
/HerrialdeTest.class
/HiriaTest.class
/Lang_kopuruaTest.class
/TestAeroportu.class
/ZerbitzuTest.class
/AirelineaTest.class
/Bidaia_MotakTest.class
/AeroportuTest.class
/AireportuTest.class
/Logela_MotakTest.class
/SqlKonexioaTest.class
/SqlMetodoakTest.class
