/Agentzia.class
/Agentzia_Motak.class
/Airelinea.class
/Aireportu.class
/Bidai_Motak.class
/Bidaia.class
/Cache.class
/Herrialde.class
/Hiria.class
/Lang_kopurua.class
/Zerbitzu.class
/Logela_motak.class
/SqlKonexioa.class
/SqlMetodoak.class
